body {
    background: url("../images/1692378248646.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-exclude-submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.submit-button {
    margin: auto auto 10px auto;
    width: 20%;
}

.input-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    width: 90%;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.errorlist {
    color: yellow;
    margin: 10px 0;
    padding: 0;
}

.errorlist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    height: 10%;
}

#length-requirement, #digit-requirement {
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    height: 80%;
}

label {
    white-space: nowrap;
    text-align: left;
    line-height: 2;
    vertical-align: middle;
    width: 25%;
    margin-right: 3px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    margin-bottom: 8px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}