{% extends 'base.html' %}

{% load static %}

{% load filters %}

{% block head_content %}
    <link rel="stylesheet" href="{% static 'mainpage/css/index.css' %}">
    <title>blueArXiv</title>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.mjs" type="module"></script>
{% endblock %}

{% block body_content %}
<div class="header-container">
    <a href="/admin">
        <img src="{% static 'mainpage/images/arXiv.png' %}" alt="logo" class="logo">
    </a>
    <div class="search-container">
        <form class="search-form" action="{% url 'search' %}" method="post" id="search-form">
            {% csrf_token %}
            <input type="text" name="search_keyword" class="search-input" placeholder="搜索论文...">
            <select name="search_field" class="search-field">
                <option value="all">全部</option>
                <option value="title">标题</option>
                <option value="author">作者</option>
                <option value="abstract">摘要</option>
            </select>
            <button type="submit" class="search-button">搜索</button>
        </form>
        {% if user.is_authenticated %}
        <!-- 如果用户已登录，显示用户名和头像 -->
        <div class="user-info">
            <p>Welcome, {{ user.username }}!</p>
            <!-- 如果用户有头像 -->
            <div class="avatar-container">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="User Avatar" class="avatar">
                {% else %}
                    <img src="{% static 'mainpage/images/default_avatar.gif' %}" alt="Default Avatar" class="avatar">
                {% endif %}
                <div class="dropdown-content">
                    <form method="post" action="{% url 'user_home' %}">
                        {% csrf_token %}
                        <button type="submit">用户资料</button>
                    </form>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">登出</button>
                    </form>                        
                </div>
            </div>
        </div>
        {% else %}
        <!-- 如果用户未登录，显示登录按钮 -->
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <button type="submit" class="login-button">登录</button>
        </form>
        {% endif %}
    </div>
</div>

<div class="container">
    <section class="featured-articles">
        <div class="banner">
            {% if not user.is_authenticated %}
                <h2>😄登录以获取更相关推荐</h2>
            {% else %}
                <h2></h2>
            {% endif %}
            <img src="{% static 'mainpage/images/columnbreak.png' %}" alt="change" class="columnbreak" id="cb">
        </div>
        <div id="article-container">
            {% if  articles %}
                {% for article in articles %} 
                    <article>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <h2 class="latex-content">
                                <a href="{{ 'https://arxiv.org/abs/'|add:'/'|add:article.arxiv_id }}" style="font-size: large; color: #0066cc;">
                                {% if keywords.0 %}
                                    {{ article.title|highlight:keyword|safe }}
                                {% else %}
                                    {{ article.title }}
                                {% endif %}
                                </a>
                            </h2>
                            {% if user.is_authenticated %}
                            <div class="vote">
                                <button data-arxiv-id="{{ article.arxiv_id }}" onclick="vote(true, this)">👍</button>
                                <button data-arxiv-id="{{ article.arxiv_id }}" onclick="vote(false, this)">🦶</button>
                            </div>
                            {% endif %}
                        </div>
                        <p class="author">
                            <span style="font-weight: bolder; margin-right: 5px;">Author:</span> 
                            {% if keywords.1 %}
                                {{ article.authors|nameparser|highlight:keyword|safe }}
                            {% else %}
                                {{ article.authors|nameparser|safe }}
                            {% endif %}
                        </p>
                        <p class="abstract latex-content">
                            <span style="font-weight: bold; margin-right: 7px;">Abstract:</span>
                            {% if keywords.2 %}
                                {{ article.abstract|highlight:keyword|safe }}
                            {% else %}
                                {{ article.abstract }}
                            {% endif %}
                        </p>
                        <div class="showpdf">显示PDF</div>
                        <span style="display: none;">{{ article.arxiv_id }}</span>
                    </article>
                {% endfor %}
                <div id="row1" class="column"></div>
                <div id="row2" class="column"></div>
            {% else %}
                <div>暂无对应结果...</div>
            {% endif %}
        </div>
    </section>
    <script type="text/javascript">
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        function vote(up, btn) {
            let arxiv_id = btn.dataset.arxivId;
            if (up) {
                url = '/vote/' + arxiv_id;
            }
            else {
                url = '/neg/' + arxiv_id;
            }
            fetch(url, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: null,
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error('Error', error);
            });
        }
        function uploadform(keyword) {
            let form = document.getElementById("search-form");
            form.elements["search_keyword"].value = keyword;
            form.elements["search_field"].value = "author";
            console.log(form);
            form.submit();
        }
        window.addEventListener("load", function() {
            MathJax.Hub.Config({
                tex2jax: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
                processEscapes: true,
                skipStartupTypeset: true,
            });
            for(element of document.querySelectorAll('.latex-content')) {
                element.innerHTML = element.innerHTML.replace(/(?<!\$)(\\[a-zA-Z]+){(.*?)}(.*?)(?<!\$)/g, function(match, group) {
                    return "$" + group[1] + "{" + group[2] + "}$";
                });
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, element]);     
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
            let columnbreak = document.getElementById("cb");
            let click = false;
            let div = document.getElementById("article-container");
            let row1 = document.getElementById("row1");
            let row2 = document.getElementById("row2");
            let articles = document.querySelectorAll("article");
            let showpdfs = document.querySelectorAll(".showpdf");
            showpdfs.forEach((btn) => {
                let show = false;
                let arxiv_id = btn.nextElementSibling.innerText;
                btn.addEventListener("click", function(event) {
                    let div = event.target;
                    let sibling = div.previousElementSibling;
                    if (show) {
                        div.innerText = "显示PDF";
                        if (sibling) {
                            sibling.classList.add('invisible');
                        }
                        show = false;
                        return;
                    }
                    if (sibling.classList.contains('invisible')) {
                        sibling.classList.remove('invisible');
                        show = true;
                        return;
                    }
                    div.innerText = "隐藏PDF";
                    let parent = div.parentNode;
                    let container = document.createElement("div");
                    parent.insertBefore(container, div);
                    var pdfPath = "https://arxiv.org/pdf/"+arxiv_id+".pdf";
                    console.log(pdfPath);
                    var { pdfjsLib } = globalThis;
                    pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.mjs";
                    pdfjsLib.getDocument(pdfPath).promise.then(function(pdfDoc) {
                        for (var pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
                            pdfDoc.getPage(pageNum).then(function(page) {
                                var canvas = document.createElement('canvas');
                                container.appendChild(canvas);
                                var context = canvas.getContext('2d');
                                var viewport = page.getViewport({ scale: 0.3 });
                                canvas.width = viewport.width;
                                canvas.height = viewport.height;
                                var renderContext = {
                                    canvasContext: context,
                                    viewport: viewport
                                };
                                page.render(renderContext);
                            });
                        }
                    });
                    show = true;
                });
            });
            columnbreak.addEventListener("click", function() {
                if (click) {
                    div.style.display = "block";
                    articles.forEach((article) => {
                        div.appendChild(article);
                    });
                    columnbreak.classList.remove('gray');
                } else {
                    div.style.display = "flex";
                    for (let i = 0; i < Math.ceil(articles.length / 2); ++i) {
                        row1.appendChild(articles[i]);
                    }
                    for (let i = Math.ceil(articles.length / 2); i < articles.length; ++i) {
                        row2.appendChild(articles[i]);
                    }
                    columnbreak.classList.add('gray');
                }
                click = !click;
            });
        });
    </script>
</div>
{% endblock %}