{% extends 'base.html' %}

{% load static %}

{% block head_content %}
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <title>登录</title>
{% endblock head_content %}
    
{% block body_content %}
<div class="flex-container">
    <div class="login-container">
        <h2>登录</h2>
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <label for="id_username">用户名</label>
            <input type="text" name="username" id="id_username">
            <label for="id_password">密码</label>
            <input type="password" name="password" id="id_password">
            <div>
                <button type="submit">Login</button>
                <button type="button" onclick="window.location.href='/register'">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock body_content %}